body {
    background: #efefef;
}

h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 47px;
}

input,
textarea {
    border: 3px solid #000;
    width: 100%;
    margin-bottom: 11px;
    padding: 7px 17px;
    background: transparent;
    resize: none;
}
textarea {
    height: 207px;
}

input[type='file'] {
    padding: 19px 17px;
}

.dorder_div.this_content {
    border: 3px solid #000;
    width: 100%;
    max-width: 100%;
    margin-bottom: 11px;
    padding-bottom: 20px;
}

.green_button {
    width: 100%;
    border: 0;
    font-size: 1.5em;
  line-height: 1.2;

}